@using SuggestionAppUI.Components.Pages
@inherits LayoutComponentBase

<div class="page">
    

    <main class="conatainer-xxl">
        <div class="px-5 pt-3 nav-links">
            <LoginDisplay/>
        </div>
        <article class="content pt-1">
            @Body
        </article>
    </main>
</div>


